
html {
    background: #969696;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #2a313d;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #f4f4f4;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}

button {
    padding: 14px 20px;
    margin: 12px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

nav {
  transition: top 0.25s ease-in-out;
  height: 50px;
  border-style: solid;
  border-width: 1px;
}

ul {
    font-size: 17px;
}

li {
    background-color: #2a313d;
}

a {
    cursor: pointer;
    color: #CCCCCC;
}

a active {
    background-color: #696969;
    color: #696969;
}

.navbar {
  margin-bottom: 0px;
  background: #2a313d;
  border: none;
}

.nav-scroll {

}

.nav-up {
    top: -50px;
}

.jumbotron {
  background: #CCCCCC;
  outline-style: solid;
  outline-color: #363636;
  outline-width: 1px;
  box-shadow: 3px 3px 2px #222222;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #222222;
}

.jumbotron #welcome {
  background-image: url('../pics/background.JPG');
  background-size: cover;
  height: 100vh;
  text-align: center;
  text-shadow: 2px 2px #222222;
  padding-top: 50px;
  padding: 50px;
  color: #CCCCCC;
}

.jumbotron h3 {
  font-family: sans-serif;
  font-size: 2em;
  padding-left: 30px;
  padding-top: 0px;
  margin-top: 0px;
}

.jumbotron p {
  font-family: sans-serif;
  font-size: 1.2em;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
}

.jumbotron .thumb_title {
  font-family: sans-serif;
  font-size: 1.5em;
  padding-left: 5px;
  padding-top: 0px;
  margin-top: 0px;
}

.jumbotron .thumb_text {
  font-family: sans-serif;
  font-size: 1em;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}

#sidebar_title {
  font-family: sans-serif;
  font-size: 2em;
}

#sidebar_description {

}

#footer {
  margin: 0px;
  padding-top: 25px;
  border: none;
  padding-bottom: 5px;
}

#footer h4{
  position: relative;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

#footer h5{
  position: relative;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}

#footer p{
  position: relative;
  text-align: right;
}
